node_modules
.DS_Store
.env
coverage
coverage.json
typechain

test/dist/*.svg
test/dist/*.png
test/dist/pngs/*.png
test/dist/*.json

#Hardhat files
cache
artifacts

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
