node_modules
.DS_Store
.env
coverage
coverage.json

test/dist/*.svg
test/dist/*.png
test/dist/pngs/*.png
test/dist/*.json

#Hardhat files
cache
artifacts
typechain-types

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
