{
  "singleQuote": false,
  "semi": true,
  "arrowParens": "always",
  "printWidth": 100,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-solidity", "solhint-plugin-prettier"]
}
